/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: whitesmoke;
}

.profile {
  margin-bottom: 30px;
}

.json-output {
  padding-top: 20px;
}

mat-card-footer {
  text-align: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 20px;
}
